<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        ">

    <context:component-scan base-package="com.blueHouse.service" />
    <context:property-placeholder location="classpath:mybatis/database.properties"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${driver}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${username}"></property>
        <property name="password" value="${password}"></property>
        <property name="maxActive" value="10"></property>
        <property name="maxIdle" value="5"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml"></property>
        <property name="mapperLocations" value="classpath*:mappers/*.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.blueHouse.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8"></property>
    </bean>

    <bean id="userService" class="com.blueHouse.service.UserServiceImpl"/>
    <bean id="accessService" class="com.blueHouse.service.AccessServiceImpl"/>
    <bean id="omService" class="com.blueHouse.service.OMServiceImpl"/>
    <bean id="activityService" class="com.blueHouse.service.ActivityServiceImpl"/>
    <bean id="browseService" class="com.blueHouse.service.BrowseServiceImpl"/>
    <bean id="adminService" class="com.blueHouse.service.AdminServiceImpl"/>
    <bean id="contractService" class="com.blueHouse.service.ContractServiceImpl"/>
    <bean id="designService" class="com.blueHouse.service.DesignServiceImpl"/>
    <bean id="disclaimService" class="com.blueHouse.service.DisclaimServiceImpl"/>
    <bean id="materialService" class="com.blueHouse.service.MaterialServiceImpl"/>
    <bean id="measureService" class="com.blueHouse.service.MeasureServiceImpl"/>
    <bean id="orderService" class="com.blueHouse.service.OrderServiceImpl"/>
    <bean id="orderItemService" class="com.blueHouse.service.OrderItemServiceImpl"/>
    <bean id="projectService" class="com.blueHouse.service.ProjectServiceImpl"/>
    <bean id="md5Service" class="com.blueHouse.service.MD5ServiceImpl"/>
    <bean id="brandService" class="com.blueHouse.service.BrandServiceImpl"/>

</beans>