<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blueHouse.mapper.CollectionMapper">
    <select id="findCollectionByUserId" parameterType="String" resultType="com.blueHouse.pojo.Collection">
        select user_id, item_id, item_class, add_time from t_collections where user_id = #{user_id}
    </select>
    <select id="findCollectionByCategory" parameterType="String" resultType="com.blueHouse.pojo.Collection">
        select user_id, item_id, item_class, add_time from t_collections where item_class = #{item_class}
    </select>
    <select id="findAllCollections" resultType="com.blueHouse.pojo.Collection">
        select user_id, item_id, item_class, add_time from t_collections
    </select>
    <insert id="insertCollection" parameterType="com.blueHouse.pojo.Collection">
        insert into t_collections(user_id, item_id, item_class, add_time) values(#{user_id}, #{item_id}, #{item_class}, #{add_time})
    </insert>
    <delete id="deleteCollection" parameterType="com.blueHouse.pojo.Collection">
        DELETE FROM t_collections where user_id = #{user_id} AND item_id = #{item_id};
    </delete>
    <delete id="deleteAllCollectionByUser" parameterType="com.blueHouse.pojo.Collection">
        DELETE FROM t_collections where user_id = #{user_id};
    </delete>
</mapper>