<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blueHouse.mapper.ContractMapper">
    <select id="findContractById" parameterType="string" resultType="com.blueHouse.pojo.orders.Contract">
        select id,name,url,type,ts from t_contracts where id = #{id}
    </select>
    <select id="findContractByPartialName" parameterType="string" resultType="com.blueHouse.pojo.orders.Contract">
        select id,name,url,type,ts from t_contracts where name LIKE CONCAT(CONCAT('%',#{name},'%'))
    </select>
    <select id="findAllContracts" resultType="com.blueHouse.pojo.orders.Contract">
        select id,name,url,type,ts from t_contracts
    </select>
    <insert id="insertContract" parameterType="com.blueHouse.pojo.orders.Contract">
        insert into t_contracts(id,name,url,type,ts) values(#{id}, #{name}, #{url}, #{type},#{ts})
    </insert>
    <update id="updateContract" parameterType="com.blueHouse.pojo.orders.Contract">
    </update>
</mapper>