<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blueHouse.mapper.DisclaimMapper">
    <select id="findDisclaimById" parameterType="string" resultType="com.blueHouse.pojo.orders.Disclaim">
        select id,name,url,ts,crew from t_disclaims where id = #{id}
    </select>
    <select id="findDisclaimByUserName" parameterType="string" resultType="com.blueHouse.pojo.orders.Disclaim">
        select id,name,url,ts,crew  from t_disclaims where name LIKE  CONCAT(CONCAT('%',#{name},'%'))
    </select>
    <select id="findDisclaimByCrewrName"  parameterType="string" resultType="com.blueHouse.pojo.orders.Disclaim">
        select id,name,url,ts,crew  from t_disclaims where crew LIKE  CONCAT(CONCAT('%',#{name},'%'))
    </select>
    <insert id="insertDisclaim" parameterType="com.blueHouse.pojo.orders.Disclaim">
        insert into t_disclaims(id,name,url,ts,crew ) values(#{id}, #{name}, #{url}, #{ts},#{crew})
    </insert>
    <update id="updateDisclaim" parameterType="com.blueHouse.pojo.orders.Disclaim">
    </update>
</mapper>