<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blueHouse.mapper.FavoriteMapper">
    <select id="findFavoriteByUserId" parameterType="String" resultType="com.blueHouse.pojo.Favorite">
        select user_id, item_id, item_class, add_time from t_favorites where user_id = #{user_id}
    </select>
    <select id="findFavoriteByCategory" parameterType="String" resultType="com.blueHouse.pojo.Favorite">
        select user_id, item_id, item_class, add_time from t_favorites where item_class = #{item_class}
    </select>
    <select id="findAllFavorites" resultType="com.blueHouse.pojo.Favorite">
        select user_id, item_id, item_class, add_time from t_favorites
    </select>
    <insert id="insertFavorite" parameterType="com.blueHouse.pojo.Favorite">
        insert into t_favorites(user_id, item_id, item_class, add_time) values(#{user_id}, #{item_id}, #{item_class}, #{add_time})
    </insert>
    <delete id="deleteFavorite" parameterType="com.blueHouse.pojo.Favorite">
        DELETE FROM t_favorites where user_id = #{user_id} AND item_id = #{item_id};
    </delete>
    <delete id="deleteAllFavoriteByUser" parameterType="com.blueHouse.pojo.Favorite">
        DELETE FROM t_favorites where user_id = #{user_id};
    </delete>
</mapper>