<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blueHouse.mapper.MaterialMapper">
    <select id="finaMaterialById" parameterType="String" resultType="com.blueHouse.pojo.browse.T_Material">
        select id,brand,name,url,category,price from t_materials where id = #{id}
    </select>
    <select id="findMaterialByPartialName" parameterType="String" resultType="com.blueHouse.pojo.browse.T_Material">
        select id,brand,name,url,category,price from t_materials where name LIKE  CONCAT(CONCAT('%',#{name},'%'))
    </select>
    <select id="findMaterialByBrand" parameterType="String" resultType="com.blueHouse.pojo.browse.T_Material">
        select id,brand,name,url,category,price from t_materials where brand LIKE CONCAT(CONCAT('%',#{brand},'%'))
    </select>
    <select id="findMaterialByCategory" parameterType="String" resultType="com.blueHouse.pojo.browse.T_Material">
        select id,brand,name,url,category,price from t_materials where category LIKE CONCAT(CONCAT('%',#{category},'%'))
    </select>
    <select id="findAllMaterials" resultType="com.blueHouse.pojo.browse.T_Material">
        select id,brand,name,url,category,price from t_materials
    </select>
    <insert id="insertMaterial" parameterType="com.blueHouse.pojo.browse.T_Material">
        insert into t_materials(id,brand,name,url,category,price)  values(#{id}, #{brand}, #{name}, #{url},#{category},#{price})
    </insert>
    <update id="updateMaterial" parameterType="com.blueHouse.pojo.browse.T_Material">
        update t_materials set brand = #{brand},name = #{name},url= #{url},category = #{category},price = #{price} where id = #{id}
    </update>
    <delete id="deleteMaterial" parameterType="com.blueHouse.pojo.browse.T_Material">
        DELETE FROM t_materials where id = #{id}
    </delete>
</mapper>