<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blueHouse.mapper.MeasureMapper">
    <select id="findMeasureById" parameterType="string" resultType="com.blueHouse.pojo.orders.Measure">
        select id,name,address,url,ts,crew from t_measures where id = #{id}
    </select>
    <select id="findMeasureByUserName" parameterType="string" resultType="com.blueHouse.pojo.orders.Measure">
        select id,name,address,url,ts,crew  from t_measures where name LIKE  CONCAT(CONCAT('%',#{name},'%'))
    </select>
    <select id="findMeasureByCrewName" resultType="com.blueHouse.pojo.orders.Measure">
        select id,name,address,url,ts,crew from t_measures where crew LIKE CONCAT(CONCAT('%',#{name},'%'))
    </select>
    <insert id="insertMeasure" parameterType="com.blueHouse.pojo.orders.Measure">
        insert into t_measures(id,name,address,url,ts,crew ) values(#{id}, #{name}, #{address}, #{url},#{ts},#{crew})
    </insert>
    <update id="updateMeasure" parameterType="com.blueHouse.pojo.orders.Measure">
    </update>
</mapper>