<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blueHouse.mapper.OrderMapper">
    <select id="findOrderById" parameterType="string" resultType="com.blueHouse.pojo.orders.Order">
        select id from t_orders where id = #{name}
    </select>
    <select id="findOrderByPartialId" parameterType="string" resultType="com.blueHouse.pojo.orders.Order">
        select id, start_time, end_time, sojourn from t_orders where id LIKE  CONCAT(CONCAT('%',#{name},'%'))
    </select>
    <select id="findAllOrders" resultType="com.blueHouse.pojo.orders.Order">
        select id, start_time, end_time, sojourn from t_orders
    </select>
    <insert id="insertOrder" parameterType="com.blueHouse.pojo.orders.Order">
        insert stringo t_orders(id, start_time, end_time, sojourn) values(#{id}, #{start_time}, #{end_time}, #{sojourn})
    </insert>
    <update id="updateOrder" parameterType="com.blueHouse.pojo.orders.Order">
        update t_orders set end_time = #{end_time} where id = #{id}
        update t_orders set sojourn = #{sojourn} where id = #{id}
    </update>
</mapper>