<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blueHouse.mapper.OrderMapper">
    <select id="findOrderById" parameterType="string" resultType="com.blueHouse.pojo.orders.Order">
        select id,user_id,start_time,end_time,status from t_orders where id = #{id}
    </select>
    <select id="findOrderByUserId" parameterType="string" resultType="com.blueHouse.pojo.orders.Order">
        select id,user_id,start_time,end_time,status from t_orders where user_id = #{user_id}
    </select>
    <select id="findOrderByPartialId" parameterType="string" resultType="com.blueHouse.pojo.orders.Order">
        select id,user_id,start_time,end_time,status from t_orders where user_id LIKE  CONCAT(CONCAT('%',#{id},'%'))
    </select>
    <select id="findAllOrders" resultType="com.blueHouse.pojo.orders.Order">
        select id,user_id,start_time,end_time,status from t_orders
    </select>
    <insert id="insertOrder" parameterType="com.blueHouse.pojo.orders.Order">
        insert t_orders(id, user_id, start_time, end_time,status ) values(#{id}, #{user_id}, #{start_time}, #{end_time},#{status})
    </insert>
    <update id="updateOrderStatus" parameterType="com.blueHouse.pojo.orders.Order">
        UPDATE t_orders SET status = #{status} WHERE id = #{id}
    </update>
    <update id="updateOrderEndTime" parameterType="com.blueHouse.pojo.orders.Order">
        UPDATE t_orders SET end_time = #{end_time} WHERE id = #{id}
    </update>
    <delete id="deleteOrder" parameterType="com.blueHouse.pojo.orders.Order">
        DELETE FROM t_orders WHERE id = #{id}
    </delete>
</mapper>