<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blueHouse.mapper.SolutionMapper">
    <select id="findAllSolutions" parameterType="string" resultType="com.blueHouse.pojo.browse.T_Solution">
        select id,name,cover,url,ts,designer, category from t_solutions
    </select>
    <select id="findSolutionById" parameterType="String" resultType="com.blueHouse.pojo.browse.T_Solution">
        select id,name,cover,url,ts,designer, category from t_solutions where id = #{id}
    </select>
    <select id="findSolutionByName" parameterType="String" resultType="com.blueHouse.pojo.browse.T_Solution">
        select id,name,cover,url,ts,designer, category from t_solutions where name LIKE  CONCAT(CONCAT('%',#{name},'%'))
    </select>
    <select id="findSolutionByDesignerName" parameterType="String"  resultType="com.blueHouse.pojo.browse.T_Solution">
        select id,name,cover,url,ts,designer, category from t_solutions where designer LIKE  CONCAT(CONCAT('%',#{designer},'%'))
    </select>
    <select id="findSolutionByCategory" parameterType="String"  resultType="com.blueHouse.pojo.browse.T_Solution">
        select id,name,cover,url,ts,designer, category from t_solutions where category LIKE  CONCAT(CONCAT('%',#{category},'%'))
    </select>
    <insert id="insertSolution" parameterType="com.blueHouse.pojo.browse.T_Solution">
        insert into t_solutions(id,name,cover,url,ts,designer) values(#{id}, #{name}, #{cover}, #{url}, #{ts},#{designer})
    </insert>
    <update id="updateSolution" parameterType="com.blueHouse.pojo.browse.T_Solution">
        UPDATE t_solutions SET name = #{name}, cover = #{cover}, url = #{url}, ts = #{ts}, designer = #{designer} WHERE id = #{id}
    </update>
    <delete id="deleteSolution" parameterType="com.blueHouse.pojo.browse.T_Solution">
        DELETE FROM t_solutions WHERE id = #{id}
    </delete>
</mapper>